<!DOCTYPE html>
<html>
<head>
    <title>Framework Setup</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        h1 { color: #2fa85c; }
    </style>
</head>
<body>
    <h1>Setting Up Flask Framework</h1>
    <h2>Installation</h2>
    <p>First I created a folder for my project and opened it in Visual Studio Code.</p>
    <p>In the terminal I setup a virtual environment and installed Flask. The I command used was:</p>
    <pre><code>pip install flask</code></pre>

    <h2>Page Creation</h2>
    <p>The webpage was created in an HTML template file and rendered by the Flask application using the <code>render_template</code> function.</p>

    <h2>Challenges</h2>
    <p>I did not encounter any issues with setup and using Flask.</p>
    <p>However, when I tried to host my app using Vercel, I encountered some issues with deploying my site.</p>
    <p>I was able to find my error and successfuly deploy my app by following online tutorials.</p>
</body>
</html>
